*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(image/pupfront.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 100px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: maroon;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}
.aas-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.aas-btn:hover{
    border: 1px solid maroon;
    background: maroon;
    transition: 0.75s;
}

/*-----footer-----*/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: gainsboro;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.pup-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.pup-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 15px;
}
.pup-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: maroon;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.pup-links ul li:hover::after{
    width: 100%;
}
/*----- id form -----*/
/*.id-form{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(image/pupback.jpg);
    background-position: center;
    background-size: cover;
}*/
.idcont{
    width: 380px;
    height: 680px;
    margin: 8% auto;
    background: maroon;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
h3{
    text-align: center;
    margin-bottom: 40px;
    color: white;
}
.idcont form{
    width: 280px;
    position: absolute;
    top: 100px;
    left: 40px;
    transition: 0.5s;
}
form input{
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0;
    border: 0;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;
}
::placeholder{
    color: black;
}
select#gender {
    width: calc(100% - 10px);
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 13px;
}
select#gender option {
    font-size: 12px;
}
.id-btn{
    width: 100%;
    margin: 30px auto;
    text-align: center;
}
form button{
    width: 110px;
    height: 35px;
    margin: 0 10px;
    background: linear-gradient(to right, gold, grey);
    border-radius: 10px;
    border: 0;
    outline: none;
    color: white;
    cursor: pointer;
}
form>span{
    margin-left: 10px;
    display: block;
    font-size: 12px;
    font-style: italic;
    color: white;
}
#f2{
    left: 450px;
}
#f3{
    left: 450px;
}
.step-row{
    width: 380px;
    height: 40px;
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
    align-items: center;
    box-shadow: 0 -1px 5px -1px #000;
    position: relative;
}
.step-col{
    width: 120px;
    text-align: center;
    color: white;
    position: relative;
}
#progress{
    position: absolute;
    height: 100%;
    width: 120px;
    background: linear-gradient(to right, gold, grey);
    transition: 1s;
}
#progress::after{
    content: '';
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    right: -20px;
    top: 0;
    border-left: 20px solid grey;
}

/*-----about us page-----*/
.subheader{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(image/pupback.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}
.subheader h1{
    margin-top: 90px;
    font-size: 50px;
}
.about_us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img{
    width: 100%;
}
.about-col h1{
    padding-top: 0;
    color: maroon;
}
.about-col p{
    padding: 15px 0 25px;
}

/*-----contact-----*/
.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
}
.contact_us{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: maroon;
    font-weight: 400;
}
.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid maroon;
    color: black;
}
.mess-btn{
    border: 1px solid maroon;
    background: transparent;
    color: black;
}
.mess-btn:hover{
    color: gold;
}

/*-----phone size-----*/
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: maroon;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
}
